@use 'src/constants';

.mode-notes-crop {
  clip-path: url(#mode-notes-crop);
}

.mode-note {
  fill: constants.$red;

  &.retreat,
  &.advance {
    transition: translate constants.$motion-duration ease-in-out;
  }

  &.left {
    translate: -50px;

    &.advance{
      translate: 0px;
    }
  }

  &.center {
    translate: 0px;

    &.advance {
      translate: 50px;
    }

    &.retreat {
      translate: -50px;
    }
  }

  &.right {
    translate: 50px;

    &.retreat{
      translate: 0px;
    }
  }
}
