@value color-black, duration-motion from "../constants.css";

.mode-notes-crop {
  clip-path: url(#mode-notes-crop);
}

.mode-note {
  fill: color-black;

  &.retreat,
  &.advance {
    transition: translate duration-motion ease-in-out;
  }

  &.left {
    translate: -50px;

    &.advance{
      translate: 0px;
    }
  }

  &.center {
    translate: 0px;

    &.advance {
      translate: 50px;
    }

    &.retreat {
      translate: -50px;
    }
  }

  &.right {
    translate: 50px;

    &.retreat{
      translate: 0px;
    }
  }
}
