@value color-black, duration-motion from "../constants.css";
@value opacity-full: 1;
@value opacity-transparent: 0;

.mode-note {
  fill: color-black;

  &.retreat,
  &.advance {
    transition-property: opacity, translate;
    transition-duration: duration-motion;
    transition-timing-function: ease-in-out;
  }

  &.left {
    opacity: opacity-transparent;
    translate: -50px;

    &.advance{
      opacity: opacity-full;
      translate: 0px;
    }
  }

  &.center {
    opacity: opacity-full;
    translate: 0px;

    &.advance {
      opacity: opacity-transparent;
      translate: 50px;
    }

    &.retreat {
      opacity: opacity-transparent;
      translate: -50px;
    }
  }

  &.right {
    opacity: opacity-transparent;
    translate: 50px;

    &.retreat{
      opacity: opacity-full;
      translate: 0px;
    }
  }
}
