/*
Positions of solfege notes around the clock face at various hours

0:  (0, -120)                     Do
1:  (60, -103.92304845413263)     Re early
2:  (103.92304845413263, -60)     Re late
3:  (120, 0)                      Mi early
4:  (103.92304845413263, 60)      Mi late
5:  (60, 103.92304845413263)      Fa early
6:  (0, 120)                      Fa late and Sol early
7:  (-60, 103.92304845413263)     Sol late
8:  (-103.92304845413263, 60)     La early
9:  (-120, 0)                     La late
10: (-103.92304845413263, -60)    Ti early
11: (-60, -103.92304845413263)    Ti late
*/

.solfege {
  &.Do {
    offset-path: path("M 0,-120");
  }

  &.Re {
    &.early {
      offset-path: path("M 60,-103.92304845413263");
    }

    &.late {
      offset-path: path("M 103.92304845413263,-60");
    }

    &.advance,
    &.retreat {
      offset-path: path("M 60,-103.92304845413263 a 120 120 0 0 1 43.923048454132626 43.923048454132626");
    }
  }

  &.Mi {
    &.early {
      offset-path: path("M 120,0");
    }

    &.late {
      offset-path: path("M 103.92304845413263,60");
    }

    &.advance,
    &.retreat {
      offset-path: path("M 120,0 a 120 120 0 0 1 -16.07695154586737 60");
    }
  }

  &.Fa {
    &.early {
      offset-path: path("M 60,103.92304845413263");
    }

    &.late {
      offset-path: path("M 0,120");
    }

    &.advance,
    &.retreat {
      offset-path: path("M 60,103.92304845413263 a 120 120 0 0 1 -60 16.07695154586737");
    }
  }

  &.Sol {
    &.early {
      offset-path: path("M 0,120");
    }

    &.late {
      offset-path: path("M -60,103.92304845413263");
    }

    &.advance,
    &.retreat {
      offset-path: path("M 0,120 a 120 120 0 0 1 -60 -16.07695154586737");
    }
  }

  &.La {
    &.early {
      offset-path: path("M -103.92304845413263,60");
    }

    &.late {
      offset-path: path("M -120,0");
    }

    &.advance,
    &.retreat {
      offset-path: path("M -103.92304845413263,60 a 120 120 0 0 1 -16.07695154586737 -60");
    }
  }

  &.Ti {
    &.early {
      offset-path: path("M -103.92304845413263,-60");
    }

    &.late {
      offset-path: path("M -60,-103.92304845413263");
    }

    &.advance,
    &.retreat {
      offset-path: path("M -103.92304845413263,-60 a 120 120 0 0 1 43.923048454132626 -43.923048454132626");
    }
  }

  &.advance {
    animation: advance 1000ms ease-in-out 1;
  }

  &.retreat {
    animation: retreat 1000ms ease-in-out 1;
  }
}

@keyframes advance {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes retreat {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
