@use 'src/constants';

@keyframes advance-solfege-dot {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes retreat-solfege-dot {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}

.solfege-dot {
  offset-rotate: 0deg;
  fill: constants.$black;
  transition-property: fill;
  transition-duration: constants.$transition-duration;

  &.can-move {
    fill: constants.$green;
  }

  &.advance-individual,
  &.advance-all {
    animation: advance-solfege-dot constants.$animation-duration ease-in-out 1 forwards;
  }

  &.retreat-individual,
  &.retreat-all {
    animation: retreat-solfege-dot constants.$animation-duration ease-in-out 1 forwards;
  }

  &.Do {
    fill: constants.$blue;

    &.can-move {
      fill: constants.$green;
    }

    &.still {
      offset-path: path("M 0,-120");
    }

    &.advance-individual,
    &.retreat-all {
      offset-path: path("M 0,-120 a 120 120 0 0 1 60 16.07695154586737");
    }

    &.retreat-individual,
    &.advance-all {
      offset-path: path("M -60,-103.92304845413263 a 120 120 0 0 1 60 -16.07695154586737");
    }
  }

  &.Re {
    &.still-early {
      offset-path: path("M 60,-103.92304845413263");
    }

    &.still-late {
      offset-path: path("M 103.92304845413263,-60");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 60,-103.92304845413263 a 120 120 0 0 1 43.923048454132626 43.923048454132626");
    }
  }

  &.Mi {
    &.still-early {
      offset-path: path("M 120,0");
    }

    &.still-late {
      offset-path: path("M 103.92304845413263,60");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 120,0 a 120 120 0 0 1 -16.07695154586737 60");
    }
  }

  &.Fa {
    &.still-early {
      offset-path: path("M 60,103.92304845413263");
    }

    &.still-late {
      offset-path: path("M 0,120");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 60,103.92304845413263 a 120 120 0 0 1 -60 16.07695154586737");
    }
  }

  &.Sol {
    &.still-early {
      offset-path: path("M 0,120");
    }

    &.still-late {
      offset-path: path("M -60,103.92304845413263");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 0,120 a 120 120 0 0 1 -60 -16.07695154586737");
    }
  }

  &.La {
    &.still-early {
      offset-path: path("M -103.92304845413263,60");
    }

    &.still-late {
      offset-path: path("M -120,0");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M -103.92304845413263,60 a 120 120 0 0 1 -16.07695154586737 -60");
    }
  }

  &.Ti {
    &.still-early {
      offset-path: path("M -103.92304845413263,-60");
    }

    &.still-late {
      offset-path: path("M -60,-103.92304845413263");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M -103.92304845413263,-60 a 120 120 0 0 1 43.923048454132626 -43.923048454132626");
    }
  }
}
