.solfege-dot {
  offset-rotate: 0deg;
  fill: #000000;
  transition-property: fill;
  transition-duration: 200ms;
}

.solfege-dot.can-move {
  fill: #0B9B0D;
}

.solfege-dot.advance-individual,
.solfege-dot.advance-all {
  animation: advance-solfege-dot 650ms ease-in-out 1 forwards;
}

.solfege-dot.retreat-individual,
.solfege-dot.retreat-all {
  animation: retreat-solfege-dot 650ms ease-in-out 1 forwards;
}

.solfege-dot.Do {
  fill: #0433FF;
}

.solfege-dot.Do.can-move {
  fill: #0B9B0D;
}

.solfege-dot.Do.still {
  offset-path: path("M 0,-120");
}

.solfege-dot.Do.advance-individual,
.solfege-dot.Do.retreat-all {
  offset-path: path("M 0,-120 a 120 120 0 0 1 60 16.07695154586737");
}

.solfege-dot.Do.retreat-individual,
.solfege-dot.Do.advance-all {
  offset-path: path("M -60,-103.92304845413263 a 120 120 0 0 1 60 -16.07695154586737");
}

.solfege-dot.Re.early {
  offset-path: path("M 60,-103.92304845413263");
}

.solfege-dot.Re.late {
  offset-path: path("M 103.92304845413263,-60");
}


.solfege-dot.Re.advance-individual,
.solfege-dot.Re.retreat-individual,
.solfege-dot.Re.advance-all,
.solfege-dot.Re.retreat-all {
  offset-path: path("M 60,-103.92304845413263 a 120 120 0 0 1 43.923048454132626 43.923048454132626");
}

.solfege-dot.Mi.early {
  offset-path: path("M 120,0");
}

.solfege-dot.Mi.late {
  offset-path: path("M 103.92304845413263,60");
}

.solfege-dot.Mi.advance-individual,
.solfege-dot.Mi.retreat-individual,
.solfege-dot.Mi.advance-all,
.solfege-dot.Mi.retreat-all {
  offset-path: path("M 120,0 a 120 120 0 0 1 -16.07695154586737 60");
}

.solfege-dot.Fa.early {
  offset-path: path("M 60,103.92304845413263");
}

.solfege-dot.Fa.late {
  offset-path: path("M 0,120");
}

.solfege-dot.Fa.advance-individual,
.solfege-dot.Fa.retreat-individual,
.solfege-dot.Fa.advance-all,
.solfege-dot.Fa.retreat-all {
  offset-path: path("M 60,103.92304845413263 a 120 120 0 0 1 -60 16.07695154586737");
}

.solfege-dot.Sol.early {
  offset-path: path("M 0,120");
}

.solfege-dot.Sol.late {
  offset-path: path("M -60,103.92304845413263");
}

.solfege-dot.Sol.advance-individual,
.solfege-dot.Sol.retreat-individual,
.solfege-dot.Sol.advance-all,
.solfege-dot.Sol.retreat-all {
  offset-path: path("M 0,120 a 120 120 0 0 1 -60 -16.07695154586737");
}

.solfege-dot.La.early {
  offset-path: path("M -103.92304845413263,60");
}

.solfege-dot.La.late {
  offset-path: path("M -120,0");
}

.solfege-dot.La.advance-individual,
.solfege-dot.La.retreat-individual,
.solfege-dot.La.advance-all,
.solfege-dot.La.retreat-all {
  offset-path: path("M -103.92304845413263,60 a 120 120 0 0 1 -16.07695154586737 -60");
}

.solfege-dot.Ti.early {
  offset-path: path("M -103.92304845413263,-60");
}

.solfege-dot.Ti.late {
  offset-path: path("M -60,-103.92304845413263");
}

.solfege-dot.Ti.advance-individual,
.solfege-dot.Ti.retreat-individual,
.solfege-dot.Ti.advance-all,
.solfege-dot.Ti.retreat-all {
  offset-path: path("M -103.92304845413263,-60 a 120 120 0 0 1 43.923048454132626 -43.923048454132626");
}

@keyframes advance-solfege-dot {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes retreat-solfege-dot {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
