.solfege {
  fill: #000000;
  transition-property: fill;
  transition-duration: 200ms;

  &.can-move {
    fill: #0B9B0D;
  }

  &.Do {
    fill: #0433FF;

    &.can-move {
      fill: #0B9B0D;
    }

    &.still {
      offset-path: path("M 0,-120");
    }

    &.advance-individual,
    &.retreat-all {
      offset-path: path("M 0,-120 a 120 120 0 0 1 60 16.07695154586737");
    }

    &.retreat-individual,
    &.advance-all {
      offset-path: path("M -60,-103.92304845413263 a 120 120 0 0 1 60 -16.07695154586737");
    }
  }

  &.Re {
    &.early {
      offset-path: path("M 60,-103.92304845413263");
    }

    &.late {
      offset-path: path("M 103.92304845413263,-60");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 60,-103.92304845413263 a 120 120 0 0 1 43.923048454132626 43.923048454132626");
    }
  }

  &.Mi {
    &.early {
      offset-path: path("M 120,0");
    }

    &.late {
      offset-path: path("M 103.92304845413263,60");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 120,0 a 120 120 0 0 1 -16.07695154586737 60");
    }
  }

  &.Fa {
    &.early {
      offset-path: path("M 60,103.92304845413263");
    }

    &.late {
      offset-path: path("M 0,120");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 60,103.92304845413263 a 120 120 0 0 1 -60 16.07695154586737");
    }
  }

  &.Sol {
    &.early {
      offset-path: path("M 0,120");
    }

    &.late {
      offset-path: path("M -60,103.92304845413263");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M 0,120 a 120 120 0 0 1 -60 -16.07695154586737");
    }
  }

  &.La {
    &.early {
      offset-path: path("M -103.92304845413263,60");
    }

    &.late {
      offset-path: path("M -120,0");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M -103.92304845413263,60 a 120 120 0 0 1 -16.07695154586737 -60");
    }
  }

  &.Ti {
    &.early {
      offset-path: path("M -103.92304845413263,-60");
    }

    &.late {
      offset-path: path("M -60,-103.92304845413263");
    }

    &.advance-individual,
    &.retreat-individual,
    &.advance-all,
    &.retreat-all {
      offset-path: path("M -103.92304845413263,-60 a 120 120 0 0 1 43.923048454132626 -43.923048454132626");
    }
  }

  &.advance-individual,
  &.advance-all {
    animation: advance 650ms ease-in-out 1 forwards;
  }

  &.retreat-individual,
  &.retreat-all {
    animation: retreat 650ms ease-in-out 1 forwards;
  }
}

@keyframes advance {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes retreat {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
