.solfege-label {
  offset-rotate: 0deg;
  fill: #000000;
  font-size: 18px;
  line-height: 0;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-anchor: middle;
}

.solfege-label.advance-individual,
.solfege-label.advance-all {
  animation: advance-solfege-label 650ms ease-in-out 1 forwards;
}

.solfege-label.retreat-individual,
.solfege-label.retreat-all {
  animation: retreat-solfege-label 650ms ease-in-out 1 forwards;
}

.solfege-label.Do {
  fill: #0433FF;
}

.solfege-label.Do.still {
  offset-path: path("M 0, -80");
}

.solfege-label.Do.advance-individual,
.solfege-label.Do.retreat-all {
  offset-path: path("M 0,-80 a 80 80 0 0 1 40 10.71796769724492");
}

.solfege-label.Do.retreat-individual,
.solfege-label.Do.advance-all {
  offset-path: path("M -40,-69.28203230275508 a 80 80 0 0 1 40 -10.71796769724492");
}

.solfege-label.Re.early {
  offset-path: path("M 40,-69.28203230275508");
}

.solfege-label.Re.late {
  offset-path: path("M 69.28203230275508,-40");
}

.solfege-label.Re.advance-individual,
.solfege-label.Re.retreat-individual,
.solfege-label.Re.advance-all,
.solfege-label.Re.retreat-all {
  offset-path: path("M 40,-69.28203230275508 a 80 80 0 0 1 29.282032302755084 29.282032302755084");
}

.solfege-label.Mi.early {
  offset-path: path("M 80,0");
}

.solfege-label.Mi.late {
  offset-path: path("M 69.28203230275508,40");
}

.solfege-label.Mi.advance-individual,
.solfege-label.Mi.retreat-individual,
.solfege-label.Mi.advance-all,
.solfege-label.Mi.retreat-all {
  offset-path: path("M 80,0 a 80 80 0 0 1 -10.71796769724492 40");
}

.solfege-label.Fa.early {
  offset-path: path("M 40,69.28203230275508");
}

.solfege-label.Fa.late {
  offset-path: path("M 0,80");
}

.solfege-label.Fa.advance-individual,
.solfege-label.Fa.retreat-individual,
.solfege-label.Fa.advance-all,
.solfege-label.Fa.retreat-all {
  offset-path: path("M 40,69.28203230275508 a 80 80 0 0 1 -40 10.71796769724492");
}

.solfege-label.Sol.early {
  offset-path: path("M 0,80");
}

.solfege-label.Sol.late {
  offset-path: path("M -40,69.28203230275508");
}

.solfege-label.Sol.advance-individual,
.solfege-label.Sol.retreat-individual,
.solfege-label.Sol.advance-all,
.solfege-label.Sol.retreat-all {
  offset-path: path("M 0,80 a 80 80 0 0 1 -40 -10.71796769724492");
}

.solfege-label.La.early {
  offset-path: path("M -69.28203230275508,40");
}

.solfege-label.La.late {
  offset-path: path("M -80,0");
}

.solfege-label.La.advance-individual,
.solfege-label.La.retreat-individual,
.solfege-label.La.advance-all,
.solfege-label.La.retreat-all {
  offset-path: path("M -69.28203230275508,40 a 80 80 0 0 1 -10.71796769724492 -40");
}

.solfege-label.Ti.early {
  offset-path: path("M -69.28203230275508,-40");
}

.solfege-label.Ti.late {
  offset-path: path("M -40,-69.28203230275508");
}

.solfege-label.Ti.advance-individual,
.solfege-label.Ti.retreat-individual,
.solfege-label.Ti.advance-all,
.solfege-label.Ti.retreat-all {
  offset-path: path("M -69.28203230275508,-40 a 80 80 0 0 1 29.282032302755084 -29.282032302755084");
}

@keyframes advance-solfege-label {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes retreat-solfege-label {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
